@import "tailwindcss";
@import "./reuses.css";

:root {
  --black: #000000;
  --white: #eeeeee;
  --red: #db4444;
  --green: #00ff66;
  --bg: #f5f5f5;
  --border: #b3b3b3;
  --yellow: #ffad33;
  --blur: #d9d9d9;
  --input: #f5f5f5;
}

.containerr {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .containerr {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .containerr {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .containerr {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .containerr {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .containerr {
    max-width: 1320px;
  }
}
